.card{
        background-color: rgb(248, 247, 247);
    }
    /* CSS background pag-Lobby*/
    .BodyCenterLobby{
        background-color: rgb(252, 225, 190);
    }
    /*CSS background y letra headerLobby*/
    .HeaderFooterProvisional{
        background-color: rgb(14, 13, 13);
    color:aliceblue
    }