/* PALETA DE COLORES */
:root{
    --blanco: #ffffff;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --verde1: #333d29;      /*este se usa para background*/
    --verde2: #414833;
    --verde3: #656d4a;
    --verde4: #a4ac86;
    
}

/* TIPOGRAFÍA */

main{
    background-color: var(--verde3);
}

.contenedor-fomulario{
    background-color: var(--verde4);
}
