
.body{
    background-color: #333d29;
}



.contenedor{
    background-color: #414833;
    color: white;
    font-size: large;
    height: 100px;
    padding: auto;    
}
.tablaEncabezado{
    margin-left: 100px;

}


.tableroChat{
    background-color:#656d4a;
    display:inline-flex;
    height: 750px;
	position: relative;
    text-align: center;
    
}

.divTablero{
    
    justify-content: center;
    width: 750px;
	height: 750px;
    padding: auto;
    margin-top: auto;
    border-radius: 10px;
}
.tablero{
    background-color: #a68a64;
    width: 650px;
	height: 650px;
    border-collapse: collapse;
    border-radius: 0.8em;
    overflow: hidden;
    border-radius: 10px;
}
.tablero tr{
    border: 6px solid grey;
    border-radius: 0.1px;
    overflow: hidden;
    padding: 1em;
    background: #b6ad90;
    border-bottom: 2px solid white; 
}

.divChat{
    background-color: #656d4a;
    justify-content: center;
    width: 750px;
	height: 750px;
    margin-top: auto;
    border-radius: 10px;
    
}
.chat{
     background-color:#a4ac86;
     height: 650px;
     border-radius: 10px;
  }
#chat2 .form-control {
    border-color: transparent;
  }
  
  #chat2 .form-control:focus  {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }

.a { border-collapse: separate; }
.b { border-collapse: collapse; } 
tr, td, th{ border: 1px solid grey;}

.tablaS{
    background-color: #333d29;
    color: white;
    text-align: center; 
    color: white(124, 76, 76);
    text-shadow: rgb(44, 43, 43) 2px 2px 3px;   
}
 
.tablaScore{
    background-color: #656d4a;
    height: 200px;
    width: 400px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    margin-top: -5px;   
    font-size: 20px;   
    color: white(124, 76, 76);
    text-shadow: rgb(44, 43, 43) 2px 2px 3px;
}
.a { border-collapse: separate; }
.b { border-collapse: collapse; } 
tr, td, th{ border: 2px solid grey;
    border-radius: 10px;}
 .jumbotron2{
     background-color: #333d29;
     color: white;
     text-align: center;
     margin-top: -6px;
     color: white(124, 76, 76);
    text-shadow: rgb(44, 43, 43) 2px 2px 3px;
 }


 @media (max-width: 1090px) {
    .tableroChat{
        background-color:#656d4a;
        display: inline-block;
        height: 1550px;
        position: relative;
        
    }
    
    .divTablero{
        
        justify-content: center;
        width: 750px;
        height: 750px;
        padding: auto;
        margin-top: auto;
        border-radius: 10px;
    }
    .tablero{
        background-color: #a68a64;
        width: 650px;
        height: 650px;
        border-collapse: collapse;
        border-radius: 0.8em;
        overflow: hidden;
        border-radius: 5px;
        margin-left: 15px;
    }
    .tablero tr{
        border: 6px solid grey;
        border-radius: 0.1px;
        overflow: hidden;
        padding: 1em;
        background: #b6ad90;
        border-bottom: 2px solid white; 
    }
    .divChat{
        background-color: #656d4a;
        justify-content: center;
        width: 750px;
        height: 750px;
        margin-top: auto;
        border-radius: 10px;
        
        
    }
    .chat{
         background-color:#a4ac86;
         margin-top: auto;
         border-radius: 10px;
         width: 650px;
         height: 550px;
         
      }
    #chat2 .form-control {
        border-color: transparent;
      }
      
      #chat2 .form-control:focus  {
        border-color: transparent;
        box-shadow: inset 0px 0px 0px 1px transparent;
      }
    }
@media (max-width: 770px) {
    .body{
        margin: auto;
    }
    .tableroChat{
        background-color:#656d4a;
        display: inline-block;
        height: 1250px;
        
        
    }
    
    .divTablero{
        
        justify-content: center;
        width: 750px;
        height: 750px;
        padding: auto;
        margin-top: auto;
        border-radius: 10px;
    }
    .tablero{
        background-color: #a68a64;
        width: 650px;
        height: 650px;
        width: 90%;
        height: 90%;
        border-collapse: collapse;
        border-radius: 0.8em;
        overflow: hidden;
        border-radius: 10px;
        margin-left: 15px;
    }
    .tablero tr{
        
        border: 3px solid grey;
        border-radius: 0.1px;
        overflow: hidden;
        padding: 1em;
        background: #b6ad90;
        border-bottom: 2px solid white; 
    }
    .divChat{
        background-color: #656d4a;
        justify-content: center;
        
        width: 50%;
        height: 50%;
        margin-top: auto;
        border-radius: 10px;
        
    }
    .chat{
        width: 60%;
        height: 60%;
         margin: auto;
         background-color:#a4ac86;
         margin-top: auto;
         border-radius: 10px;
         height: 475px;
      }
    #chat2 .form-control {
        border-color: transparent;
      }
      
      #chat2 .form-control:focus  {
        border-color: transparent;
        box-shadow: inset 0px 0px 0px 1px transparent;
      }
    }   
    
    @media (max-width: 450px) {
        .body{
            margin: auto;
        }
        .tableroChat{
            background-color:#656d4a;
            display: inline-block;
            height: 1450px;
            
            
        }
        
        .divTablero{
            
            justify-content: center;
            width: 750px;
            height: 750px;
            padding: auto;
            margin-top: auto;
            border-radius: 10px;
        }
        .tablero{
            background-color: #a68a64;
            width: 650px;
            height: 650px;
            width: 50%;
            height: 50%;
            border-collapse: collapse;
            border-radius: 0.8em;
            overflow: hidden;
            border-radius: 10px;
            margin-left: 35px;
        }
        .tablero tr{
            
            border: 3px solid grey;
            border-radius: 0.1px;
            overflow: hidden;
            padding: 1em;
            background: #b6ad90;
            border-bottom: 2px solid white; 
        }
        .divChat{
            background-color: #656d4a;
            justify-content: center;
            
            width: 70%;
            height: 70%;
            margin-top: auto;
            border-radius: 10px;
            
        }
        .chat{
            margin: auto;
             background-color:#a4ac86;
             margin-top: auto;
             border-radius: 10px;
             width: 60%;
            height: 60%;
            height: 500px;
            
          }
        #chat2 .form-control {
            border-color: transparent;
          }
          
          #chat2 .form-control:focus  {
            border-color: transparent;
            box-shadow: inset 0px 0px 0px 1px transparent;
          }
        }    